[user]
	name = Abdulwahaab Ahmed
	email = abdulwahaab.ahmed@shopify.com
; [gpg]
; 	program = /opt/homebrew/bin/krgpg
; [commit]
; 	gpgSign = true
; [tag]
; 	forceSignAnnotated = true
[alias]
	commit = commit -S
[core]
	excludesfile = /Users/abdulwahaabahmed/.gitignore_global
[merge]
	tool = fugitive
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    hyperlinks = true  # enable hyperlinks in the pager

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[include]
	path = /Users/abdulwahaabahmed/.config/dev/gitconfig
	path = /Users/abdulwahaab/.config/dev/gitconfig
[mergetool "fugitive"]
	cmd = nvim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[safe]
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaabahmed/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
	directory = /Users/abdulwahaab/.shopify-build-tmp/repository.git
